{% block conections %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body%}
{% include 'flash_massage.html' %}
<div class="login-container">
    <div class="login-left">
        <div class="welcome-invite">
            <span class="line-1">Welcome to</span>
            <span class="line-2">Pro Room's Application</span>
        </div>
    </div>
    <div class="login-right">
        <p>Welcome back! <br /> Login to your account</p>
        <span class="motivate"> Let's enter again , share the creativity's </span>
        <form action="/login" method="post">
            <!-- name="identifier" matches what app.py reads -->
            <input type="text"     name="identifier" placeholder="Your username or email" required>
            <input type="password" name="password"   placeholder="Your password" required>

            <div class="form-footer">
                <div class="remember-me">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Remember me</label>
                </div>
                <a href="#" class="forgot-password">Forgot password ?</a>
            </div>

            <input type="submit" value="Login">
        </form>

        <div class="separator">
            <hr> <span>OR</span>
            <hr>
        </div>

        <div class="continue-google"><a style="text-decoration:none;" href="{{ url_for('google_login') }}" class="google-btn"> <img src="../static/images/google.png" alt="Google icon" width="25px"> Continue
            with Google </a></div>

        <span class="signup-link">Don't have an account ? <a href="/signup">Sign up</a></span>
    </div>
</div>
{% endblock %}